nav {
  padding: 20px;
  height: 10vh;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list__nav {
  list-style: none;
  display: flex;
}
.list__nav__item {
  margin-left: 2rem;
}
.list__nav__item:hover a {
  color: aqua;
}
